Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c *.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build --pull ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build --pull ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build --pull ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build --pull ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db"
  - eval $COMPOSE up -d --build db clamav unoconv
  - eval $COMPOSE build --pull django
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(be): allow changing form type of v2 forms
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma_custom_actions.py
  ember-camac-ng/app/abilities/instance.js
  ember-camac-ng/app/ui/support/controller.js
  ember-camac-ng/config/environment.js
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

fix(publication): hide create publication button if work item doesn't exist
  ember-camac-ng/app/ui/publication/edit/template.hbs
Due: lint-ember-camac-ng, test-ember-camac-ng

fix(sz): correctly handle circulation work items when manually finished
  django/camac/circulation/views.py
Due: test-django

fix(sz): depriciate-case workItems were canceled but never again opened
  django/camac/core/management/commands/repair_sz_workflow.py
  django/kt_schwyz/config/caluma_workflow.json
Due: test-django

test: add test for the circulation end_all action
  django/camac/circulation/tests/test_circulation.py
Due: test-django

fix(sz): detect multiple circulation workitems for SZ workflow
  django/camac/core/management/commands/repair_sz_workflow.py
Due: test-django

fix(sz): move `end_all` action correctly to the instance view
  django/camac/circulation/tests/test_circulation.py
  django/camac/circulation/views.py
  django/camac/instance/tests/test_instance.py
  django/camac/instance/views.py
Due: test-django

feat(be): enable reporting of tank installations in sb2
  django/camac/caluma/extensions/events/general.py
  django/camac/caluma/tests/test_events.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/snapshots/snap_test_document_merge_service.py
  django/camac/instance/tests/test_document_merge_service.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/settings.py
  django/kt_bern/config/caluma_form.json
  django/kt_bern/config/caluma_form_sb2.json
  django/kt_bern/config/caluma_form_v2.json
  django/requirements.txt
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

feat(portal): suggest personal emails from form in applicant permissions
  ember-caluma-portal/app/components/personal-suggestions/component.js
  ember-caluma-portal/app/components/personal-suggestions/entry/component.js
  ember-caluma-portal/app/components/personal-suggestions/entry/template.hbs
  ember-caluma-portal/app/components/personal-suggestions/template.hbs
  ember-caluma-portal/app/gql/queries/get-personals.graphql
  ember-caluma-portal/app/instances/edit/applicants/controller.js
  ember-caluma-portal/app/instances/edit/applicants/template.hbs
  ember-caluma-portal/config/environment.js
  ember-caluma-portal/tests/integration/components/personal-suggestions/component-test.js
  ember-caluma-portal/tests/integration/components/personal-suggestions/entry/component-test.js
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal

feat(be): add question for self declaration person
  django/camac/instance/tests/snapshots/snap_test_document_merge_service.py
  django/kt_bern/config/caluma_form.json
Due: test-django

Path conditions:
  lint-yml: any of: *.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
