Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c *.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build --pull ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build --pull ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build --pull ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build --pull ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db"
  - eval $COMPOSE up -d --build db clamav unoconv
  - eval $COMPOSE build --pull django
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(ember): reset publication query param
  django/camac/document/views.py
  django/camac/settings.py
  django/camac/user/permissions.py
Due: test-django

fix(ember): reset publication query param
  django/camac/document/views.py
  django/camac/settings.py
  django/camac/user/permissions.py
  ember/app/instances/edit/controller.js
  ember/app/instances/edit/route.js
Due: test-ember, test-django

fix(journal): make journal entries editable by author only
  ember-camac-ng/app/abilities/journal-entry.js
  ember-camac-ng/app/ui/components/journal-entry/template.hbs
  ember-camac-ng/tests/acceptance/journal-test.js
  ember-camac-ng/tests/integration/ui/components/journal-entry/component-test.js
Due: lint-ember-camac-ng, test-ember-camac-ng

fix: reconnect instances with cases
  django/camac/instance/migrations/0031_reconnect_instance_case.py
Due: test-django

chore(be-release): hotfix 2.6.4
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(api): construction control permissions
  django/camac/document/permissions.py
  django/camac/document/serializers.py
Due: test-django

chore(be): update some french translations
  django/kt_bern/config/core.json
  django/kt_bern/config/instance.json
Due: test-django

fix(be): fix document permissions for municipality
  django/camac/document/models.py
  django/camac/document/permissions.py
  django/camac/document/serializers.py
  django/camac/document/tests/test_attachment.py
  django/camac/document/tests/test_attachment_section.py
  django/camac/document/views.py
Due: test-django

fix(be): fix french translations of publication for BE
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
  ember-caluma-portal/translations/public-instances/de.yaml
  ember-caluma-portal/translations/public-instances/fr.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal

chore(release): v2.6.6
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(sz): rename "Publikationen" to "Öffentliche Planauflage"
  ember/app/index/template.hbs
  ember/app/publications/template.hbs
Due: test-ember

fix: exclude future and ancient decisions from stats
  django/camac/stats/tests/test_views.py
  django/camac/stats/views.py
Due: test-django

Path conditions:
  lint-yml: any of: *.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
