Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c *.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build --pull ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build --pull ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build --pull ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build --pull ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db"
  - eval $COMPOSE up -d --build db clamav unoconv
  - eval $COMPOSE build --pull django
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

chore(gwr): bump ember-ebau-gwr to version 3.2.1
  ember-camac-ng/package.json
  yarn.lock
Due: lint-ember-camac-ng, test-ember-camac-ng

refactor(gwr): remove list check in first_workflow_entry resolver
  django/camac/instance/master_data.py
Due: test-django

feat(sz): add gwr lookups for number of floors and rooms
  django/camac/instance/gwr_lookups.py
  django/camac/instance/tests/snapshots/snap_test_gwr.py
Due: test-django

refactor(gwr): update first_workflow_entry resolver documentation
  django/camac/instance/master_data.py
Due: test-django

chore(be): add command to load the latest db dump
  Makefile
Due: none

fix(ech): update static redirect for audit
  django/camac/echbern/urls.py
Due: test-django

fix(ur): donwngrade html2canvas to fix the plot picture issue
  ember-ebau-core/addon/components/ur-gis.js
  ember-ebau-core/package.json
  yarn.lock
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(ur): don't use green as error color
  ember-camac-ng/app/styles/_variables-ur.scss
Due: lint-ember-camac-ng, test-ember-camac-ng

chore(ur): unhide the gwr instance resource
  django/kt_uri/config/core.json
Due: test-django

feat(ur): add instance_group endpoint for the ÖREB publications
  django/camac/instance/factories.py
  django/camac/instance/filters.py
  django/camac/instance/migrations/0032_auto_20211021_1901.py
  django/camac/instance/models.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance.py
  django/camac/instance/tests/test_instance_group.py
  django/camac/instance/urls.py
  django/camac/instance/views.py
  django/kt_bern/data/instance.json
  django/kt_schwyz/data/instance.json
  django/kt_uri/data/instance.json
Due: test-django

fix(notification): configure a static user for system notifications
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/settings.py
Due: test-django

Path conditions:
  lint-yml: any of: *.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
