Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: *.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix(ech): add META to fake request used in send handler
  django/camac/echbern/send_handlers.py
Due: test-django

fix(ech): improve instance state configuration for construction control as active service
  django/camac/instance/models.py
  django/camac/settings.py
Due: test-django

fix(work-items): mark required fields as such to provide basic validation
  ember-camac-ng/app/ui/work-items/instance/edit/template.hbs
  ember-camac-ng/app/ui/work-items/instance/new/controller.js
  ember-camac-ng/app/ui/work-items/instance/new/template.hbs
Due: lint-ember-camac-ng, test-ember-camac-ng

fix(sz): fix display of number-separator if value is 0
  ember/app/components/camac-input-number-separator/component.js
  ember/tests/integration/components/camac-input-number-separator/component-test.js
Due: test-ember

chore(be): fix wrong link to eCH docs
  django/camac/echbern/views.py
Due: test-django

fix(sz): set x-camac-public-acces only if enforcePublicAccess is true
  ember/app/components/camac-document/component.js
  ember/app/instances/edit/route.js
Due: test-ember

chore(be): update various notification texts
  django/kt_bern/config/email_notifications.json
Due: test-django

fix(sz): correct the initialization of enforcePublicAccess
  ember/app/instances/edit/route.js
Due: test-ember

fix(sz): return access type public for public reader
  django/camac/instance/serializers.py
Due: test-django

fix(sz): allow saving work item meta when adressed
  django/camac/caluma/extensions/permissions.py
Due: test-django

fix(be): fix and simplify header data for DMS
  django/camac/instance/document_merge_service.py
  django/camac/instance/tests/snapshots/snap_test_document_merge_service.py
  django/camac/instance/tests/test_document_merge_service.py
  document-merge-service/kt_bern/templatefiles/audit-form.docx
  document-merge-service/kt_bern/templatefiles/form.docx
Due: test-django

feat(uri): complete gwr import data for buildings & dwellings
  django/camac/core/migrations/0088_auto_20211008_1524.py
  django/camac/core/models.py
  django/camac/instance/gwr_lookups.py
  django/camac/instance/master_data.py
  django/camac/instance/tests/snapshots/snap_test_gwr.py
  django/camac/instance/tests/snapshots/snap_test_master_data.py
  django/camac/instance/tests/test_gwr.py
  django/camac/instance/tests/test_master_data.py
  django/camac/settings.py
  ember-camac-ng/app/ui/gwr-data-import/service.js
  ember-camac-ng/config/environment.js
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django
