Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: *.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

feat(ur): show more data for public instances
  django/camac/constants/kt_uri.py
  django/camac/instance/filters.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/instance/views.py
  ember-caluma-portal/app/models/public-caluma-instance.js
  ember-caluma-portal/app/public-instances/detail/controller.js
  ember-caluma-portal/app/public-instances/detail/template.hbs
  ember-caluma-portal/app/public-instances/index/template.hbs
  ember-caluma-portal/translations/public-instances/de.yaml
  ember-caluma-portal/translations/public-instances/fr.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

feat(be): add confirmation question for client
  django/camac/instance/tests/snapshots/snap_test_document_merge_service.py
  django/kt_bern/config/caluma_form.json
Due: test-django

feat(be): send notification when manually ending a circulation
  django/camac/circulation/tests/test_circulation.py
  django/camac/circulation/views.py
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/settings.py
  django/kt_bern/config/email_notifications.json
Due: test-django

feat(sz): add template download
  django/camac/document/tests/snapshots/snap_test_template.py
  django/camac/document/tests/test_template.py
  django/camac/document/views.py
Due: test-django

fix(sz): format dates for sz specially
  compose/kt_schwyz.yml
  django/camac/notification/serializers.py
Due: test-django

fix(sz): format dates for sz specially
  compose/kt_schwyz-prod.yml
  compose/kt_schwyz.yml
  django/camac/notification/serializers.py
Due: test-django

feat(django): add objection template placeholder
  django/camac/document/tests/data/template.docx
  django/camac/document/tests/snapshots/snap_test_template.py
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
Due: test-django

feat(be): disable deleting after the decision in frontend
  django/camac/document/tests/test_attachment_caluma.py
  django/camac/document/views.py
  django/camac/settings.py
Due: test-django

chore(release): v2.5.0-rc3
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

chore(ur): change the keycloak host to deploy on the old stage server
  .gitlab-ci.yml
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

test: update snapshot for document testing
  django/camac/document/tests/snapshots/snap_test_template.py
Due: test-django

chore(ur): change the keycloak host to deploy on the new stage server
  .gitlab-ci.yml
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

fix(portal): fix setting of language and group
  ember-caluma-portal/app/application/route.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal
