Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c *.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build --pull ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build --pull ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build --pull ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build --pull ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db"
  - eval $COMPOSE up -d --build db clamav unoconv
  - eval $COMPOSE build --pull django
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

chore(be-release): v2.6.1
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(sz): Adjust the gwr form
  django/kt_schwyz/form.json
Due: test-django

fix: naming of publication in UR/BE
  ember-caluma-portal/app/components/be-navbar/template.hbs
  ember-caluma-portal/app/public-instances/index/controller.js
  ember-caluma-portal/app/public-instances/index/template.hbs
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/public-instances/de.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal

chore(be-release): 2.6.2
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

chore(sz): add more municipalities for the prod system
  ember/config/environment.js
Due: test-ember

fix(api): is_applicant filter
  django/camac/instance/filters.py
Due: test-django

chore(be-release): 2.6.3
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(ur): show the decision documents in the portal for the portal user
  django/camac/document/permissions.py
Due: test-django

feat(sz): use new public permissions
  django/camac/applicants/tests/test_applicants.py
  django/camac/applicants/views.py
  django/camac/document/views.py
  django/camac/instance/mixins.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/snapshots/snap_test_instance.py
  django/camac/instance/tests/test_instance.py
  django/camac/instance/tests/test_instance_public.py
  django/camac/settings.py
Due: test-django

feat(sz): use new public permissions
  django/camac/applicants/tests/test_applicants.py
  django/camac/applicants/views.py
  django/camac/document/views.py
  django/camac/instance/mixins.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/snapshots/snap_test_instance.py
  django/camac/instance/tests/test_instance.py
  django/camac/instance/tests/test_instance_public.py
  django/camac/settings.py
  ember/app/application/adapter.js
  ember/app/index/controller.js
  ember/app/index/template.hbs
  ember/app/instances/edit/controller.js
  ember/app/instances/edit/gesuchsunterlagen/route.js
  ember/app/instances/edit/involvierte-personen/route.js
  ember/app/instances/edit/publikationsdokumente/template.hbs
  ember/app/instances/edit/route.js
  ember/app/instances/edit/template.hbs
  ember/app/instances/edit/work-items/index/route.js
  ember/app/publications/controller.js
  ember/app/publications/route.js
  ember/app/publications/template.hbs
  ember/config/environment.js
  ember/tests/unit/adapters/adapter-test.js
  ember/tests/unit/instances/edit/controller-test.js
  ember/tests/unit/session/service-test.js
Due: test-ember, test-django

feat: block document API for public access in kt. SZ
  django/camac/document/tests/test_attachment.py
  django/camac/document/views.py
  django/camac/user/permissions.py
Due: test-django

fix(ember): reset publication query param
  django/camac/document/views.py
  django/camac/settings.py
  django/camac/user/permissions.py
Due: test-django

fix(ember): reset publication query param
  django/camac/document/views.py
  django/camac/settings.py
  django/camac/user/permissions.py
  ember/app/instances/edit/controller.js
  ember/app/instances/edit/route.js
Due: test-ember, test-django

Path conditions:
  lint-yml: any of: *.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
