Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: *.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

chore(be): improve notification on decision for preliminary clarifications
  django/camac/settings.py
  django/kt_bern/config/core.json
  django/kt_bern/config/email_notifications.json
Due: test-django

fix(be): fix pre complete config for complete work item
  django/camac/settings.py
Due: test-django

fix(sz): fix typo in pre commit config for Schwyz
  django/camac/settings.py
Due: test-django

chore(be): rename neighborhood orientation to information of neighbors
  django/.coveragerc
  django/camac/conftest.py
  django/camac/core/management/commands/initialize_information_of_neighbors.py
  django/camac/instance/mixins.py
  django/camac/instance/placeholders/aliases.py
  django/camac/instance/placeholders/fields.py
  django/camac/instance/placeholders/serializers.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/snapshots/snap_test_instance_caluma_permissions.py
  django/camac/instance/tests/snapshots/snap_test_placeholders.py
  django/camac/instance/tests/test_document_merge_service.py
  django/camac/instance/tests/test_instance_public.py
  django/camac/instance/tests/test_master_data.py
  django/camac/settings.py
  django/kt_bern/config/caluma_form.json
  django/kt_bern/config/caluma_information_of_neighbors_form.json
  django/kt_bern/config/caluma_workflow.json
  django/kt_bern/config/core.json
  django/kt_bern/tasks.graphql
  django/kt_bern/workflow-building-permit.graphql
  django/kt_bern/workflow-preliminary-clarification.graphql
Due: test-django

fix(sz): re-enable the archiving of instances
  django/camac/caluma/extensions/events/general.py
  django/camac/caluma/tests/test_dynamic_tasks.py
  django/camac/settings.py
Due: test-django

fix(sz): use correct responsibilty table for filter
  django/camac/circulation/filters.py
  django/camac/instance/filters.py
  django/camac/instance/tests/test_instance.py
Due: test-django

chore(be): add missing translation for button
  django/kt_bern/config/core.json
Due: test-django

chore(be): change french translations in circulation
  django/kt_bern/config/core.json
Due: test-django

fix(work-items): fix permissions for editing work items
  django/camac/caluma/extensions/permissions.py
  ember-caluma-portal/app/app.js
  ember-caluma-portal/package.json
  ember-camac-ng/app/abilities/work-item.js
  ember-camac-ng/app/app.js
  ember-camac-ng/app/caluma-query/models/work-item.js
  ember-camac-ng/app/ui/work-items/instance/edit/template.hbs
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

chore(ci): remove ember compatibility testing for ember-ebau-core
  ember-ebau-core/config/ember-try.js
  ember-ebau-core/package.json
  yarn.lock
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(ci): remove ember compatibility testing for ember-ebau-core
  .gitlab-ci.yml
  ember-ebau-core/config/ember-try.js
  ember-ebau-core/package.json
  yarn.lock
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker
