Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c *.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build --pull ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build --pull ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build --pull ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build --pull ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db"
  - eval $COMPOSE up -d --build db clamav unoconv
  - eval $COMPOSE build --pull django
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(django): merge conflicting migrations
  django/camac/core/migrations/0087_merge_20211005_1306.py
Due: test-django

fix(sz): EBAUSZ-583 enable the download of documents in the portal
  ember/app/components/camac-document/component.js
Due: test-ember

fix(master data): convert dynamic option resolver to parser
  django/camac/instance/document_merge_service.py
  django/camac/instance/master_data.py
  django/camac/instance/tests/test_document_merge_service.py
  django/camac/instance/tests/test_gwr.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/instance/tests/test_instance_public.py
  django/camac/instance/tests/test_master_data.py
  django/camac/instance/tests/test_placeholders.py
  django/camac/settings.py
Due: test-django

fix(ur-form): adapt form config related to "kind of work"
  django/kt_uri/config/caluma_form.json
Due: test-django

fix(ur): add sign up text to notifications
  django/kt_uri/config/core.json
Due: test-django

chore(master data): return dict of slug and label for option parser
  django/camac/instance/master_data.py
  django/camac/instance/placeholders/serializers.py
  django/camac/instance/placeholders/utils.py
  django/camac/instance/tests/snapshots/snap_test_master_data.py
  django/camac/settings.py
Due: test-django

chore(docker): use host.docker.internal instead of magic IP for host
  compose/kt_bern-dev.yml
  compose/kt_schwyz-dev.yml
  compose/kt_uri-dev.yml
Due: none

fix(ember): add paging to publication list
  django/camac/core/views.py
Due: test-django

fix(ember): add paging to publication list
  django/camac/core/views.py
  ember/app/index/template.hbs
  ember/app/instances/edit/template.hbs
  ember/app/publications/controller.js
  ember/app/publications/route.js
  ember/app/publications/template.hbs
  ember/package.json
  ember/yarn.lock
Due: test-ember, test-django

feat(be): configure the dossier import form
  django/kt_bern/config/caluma_form.json
Due: test-django

fix(sz): downgrade html2canvas
  ember-ebau-core/package.json
  yarn.lock
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(be): add translations for the dossier import form
  django/kt_bern/config/caluma_form.json
Due: test-django

Path conditions:
  lint-yml: any of: *.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
