Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: *.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix(ur): enhance permissions for organization readonly role
  django/camac/instance/mixins.py
  django/camac/instance/tests/test_instance.py
  django/camac/settings.py
Due: test-django

fix(ur): fix the hidden input component
  django/kt_bern/config/caluma_form.json
  django/kt_bern/config/caluma_form_v2.json
  django/kt_uri/config/caluma_form.json
  ember-caluma-portal/app/application/route.js
  ember-caluma-portal/app/components/be-hidden-input/component.js
  ember-camac-ng/app/ui/components/cf-hidden-input/component.js
  ember-ebau-core/addon/components/cf-hidden-input.hbs
  ember-ebau-core/app/components/cf-hidden-input.js
  ember-ebau-core/tests/integration/components/cf-hidden-input-test.js
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

fix(ur): change texts in the form and dashboard
  django/kt_uri/config/caluma_form.json
  ember-camac-ng/translations/dashboard/de.yaml
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

chore(portal): remove ember prefix in package name of the portal
  ember-caluma-portal/.eslintrc.js
  ember-caluma-portal/Dockerfile
  ember-caluma-portal/app/app.js
  ember-caluma-portal/app/application/controller.js
  ember-caluma-portal/app/components/be-claims-form/edit/component.js
  ember-caluma-portal/app/components/be-dashboard/component.js
  ember-caluma-portal/app/components/be-document-bucket/component.js
  ember-caluma-portal/app/components/be-documents-form/component.js
  ember-caluma-portal/app/components/be-navbar/component.js
  ember-caluma-portal/app/helpers/application-name.js
  ember-caluma-portal/app/helpers/is-application.js
  ember-caluma-portal/app/index.html
  ember-caluma-portal/app/initializers/register-caluma-query-model-case.js
  ember-caluma-portal/app/instances/edit/applicants/controller.js
  ember-caluma-portal/app/instances/edit/controller.js
  ember-caluma-portal/app/instances/edit/form/controller.js
  ember-caluma-portal/app/instances/edit/index/controller.js
  ember-caluma-portal/app/instances/index/controller.js
  ember-caluma-portal/app/instances/new/controller.js
  ember-caluma-portal/app/models/instance.js
  ember-caluma-portal/app/router.js
  ember-caluma-portal/config/environment.js
  ember-caluma-portal/package.json
  ember-caluma-portal/tests/acceptance/navigation-test.js
  ember-caluma-portal/tests/helpers/test-if.js
  ember-caluma-portal/tests/index.html
  ember-caluma-portal/tests/integration/components/be-navbar/component-test.js
  ember-caluma-portal/tests/integration/helpers/application-name-test.js
  ember-caluma-portal/tests/integration/helpers/is-application-test.js
  ember-caluma-portal/tests/test-helper.js
  ember-caluma-portal/tests/unit/abilities/instance-test.js
  ember-caluma-portal/tests/unit/utils/parse-error-test.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

chore(sz): adjust mailtext for form transformations
  django/camac/instance/serializers.py
Due: test-django

fix(ur): text changes and submit validation
  django/kt_uri/config/caluma_form.json
  ember-caluma-portal/app/components/be-documents-form/component.js
  ember-caluma-portal/app/components/be-documents-form/template.hbs
  ember-caluma-portal/app/components/be-submit-instance/component.js
  ember-caluma-portal/app/styles/_variables-ur.scss
  ember-caluma-portal/translations/de.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

fix(ur-gis): skip missing fields when writing to form
  ember-ebau-core/addon/components/ur-gis.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(portal): use correct config for loginHint
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

chore(form): fix wrong link
  django/kt_bern/config/caluma_form_v2.json
Due: test-django

chore(audit): add info text for own exam items
  django/kt_bern/config/caluma_audit_form.json
Due: test-django

fix(ur): exclude placeholders from documents in the portal
  ember-caluma-portal/app/components/be-documents-form/component.js
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal
